@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
font-family: "Roboto", serif;
font-optical-sizing: auto;
font-weight: normal;
font-style: normal;
font-variation-settings:"wdth" 100;
box-sizing: border-box;
max-width: 100%;
}
header > h1{
    text-align: center;
    color: #fff;
}
header > p{
    text-align: center;
    color: #fff;
}
header{
    background-image: linear-gradient(180deg, #3BD47F,#1a5c38);
    padding: 10px;
    margin: 0px;
    
}

nav > a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
#a1:hover{
    text-decoration: underline;
    background-color: #1a5c38;
}
#a2:hover{
    text-decoration: underline;
    background-color: #1a5c38;
}
#a3:hover{
    text-decoration: underline;
    background-color: #1a5c38;
}
#a4:hover{
    text-decoration: underline;
    background-color: #1a5c38;
}
body{
    margin: 0px;;
    background-color: #84E1AD;
    background-attachment: fixed;
}
article > h1{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #023118;
    font-size: 1.5em;
    
}
article > p{
    text-align: justify;
    text-indent: 30px;
}
main{
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 8px black;
    border-radius: 0px 0px 15px 15px;

}
@media (max-width: 700px){
    body{
        background-color: #fff;
        background-attachment: none;
    }
    main{
        width: none;
        box-shadow: none;
        margin: 0px;
    }
    
}
.h22{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #012210;
    font-size: 1em;
    background-image: linear-gradient(90deg, #31fa88,#f6fcf9a9);
    padding: 5px;
}
.li1{
  text-decoration: none;
  color: #042e17;
  background-color: #31fa88e3;
  padding: 2px;
}
.li1::after{
    content: "⚜";
    font-size: 1em;
    color: #706f6f;
}
.li1:active{
    color: #f3f8f6;
}
picture{
   margin: auto;
}
span{
font-weight: bold;
}
#imag2{
     margin: auto;
     display: block;
   
}
#v1{
background-color: #063D1E;
padding: 30px;
border-radius: 15px 15px 15px 15px;
}
.h222{
background-color: #1A5C37;
padding: 5px;
color: #fff;
border-radius: 15px 15px 0px 0px;
margin-bottom: 0px;
box-shadow: 0px 0px 3px black;
}
#paragrafo2f{
background-color: #83E1AD;
border-radius: 0px 0px 15px 15px;
padding: 10px;
box-shadow: 0px 0px 3px black;
}
ul.checklist {
   list-style-type: none; /* Remove o marcador padrão */
   padding: 0;
   display: inline-block;
   margin-right: 160px;
}
ul.checklist2 {
   list-style-type: none; /* Remove o marcador padrão */
   padding: 0;
   display: inline-block;
  
   
}
ul.checklist2 li::before {
   content: "✓"; /* Adiciona o símbolo de verificação */
   color: rgb(20, 20, 20); /* Cor do símbolo */
   font-weight: bold; /* Negrito */
   display: inline-block;
   width: 1em; /* Espaçamento entre o símbolo e o texto */
   margin-right: 0.5em; /* Espaçamento entre o símbolo e o texto */
}
ul.checklist li::before {
   content: "✓"; /* Adiciona o símbolo de verificação */
   color: rgb(20, 20, 20); /* Cor do símbolo */
   font-weight: bold; /* Negrito */
   display: inline-block;
   width: 1em; /* Espaçamento entre o símbolo e o texto */
   margin-right: 0.5em; /* Espaçamento entre o símbolo e o texto */
}
abbr{
text-decoration: none;
}
#caixa1{
margin: 10px;

}
footer{
background-color: #063D1E;
color: #fff;
padding: 0.5px;
text-align: center;
margin-top: 20px;
}

#meu1{
text-decoration: none;
color: #fff;
font-weight: bold;
}
#meu1:active{
color: #31fa88;
}
#meu1:hover{
text-decoration: underline;
}