@charset "UTF-8";

/* Todas as de mais medias */

/* Typical Device Breakpoints 
 Pequenas telas: até 600px 
 Celular: de 600px até 768px
 Tablet: de 768 até 992px
 Dasktop: 992px até 1200px 
 Grandes telas: acima de 1200px 
*/
@media print { /*Impresora*/

}
@media screen and (min-width: 600px) and (max-width: 768px){ /*Celular*/
    
}
@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
    body{
        background-image: url(../imagens/imagem2.jpg);
    }
#celular{display: none;}
#tablete{display: block;}
#impresora{display: none;}
#pc{display: none;}
#tv{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px) { /*Dasktop*/
    
}
@media screen and (min-width: 1200px) { /*Telas grandes*/
    
}