@charset "UTF-8";

/* versão geral moblie first */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1.3em;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background: black url(../imagens/imagem1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

}
main{
    background-color: rgba(255, 255, 255, 0.575);
    width: 90vw;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}
h1{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
#celular{display: block;}
#tablete{display: none;}
#impresora{display: none;}
#pc{display: none;}
#tv{display: none;}